* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    grid-template-rows: 10vh 90vh;
    height: 100vh;
    /* background-image: url(../image/paysageRoche.png); */
    background: #21475e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /* transform: scale(1); */
}

.viewport {
    transform: translate(25%, 0%);
}

#imgObject {
    width: 56px;
}

/* =================== HEADER ======================== */
header {
    position: fixed;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

header .line {
    width: 10vw;
    height: 1vh;
    background-color: white;
}

header img {
    width: 4rem;
    height: 4rem;
    margin: auto 0;
}

.btn-main {
    background: #21475e;
    box-shadow: 26px 26px 58px #16303f, -26px -26px 58px #2c5e7d;
    border-radius: 0.6em;
    color: white;
    font-weight: 900;
    height: 6vh;
    padding: 0.6em;
    margin: 1.2em;
    border: none;
}

.btn-main:hover {
    background: #21475e;
    box-shadow: inset 26px 26px 58px #16303f, inset -26px -26px 58px #2c5e7d;
    color: whitesmoke;
    cursor: pointer;
    transition: ease 0.8s;
}

nav {
    display: flex;
    position: sticky;
    justify-content: center;
    align-content: start;
    border: 2px solid rgb(132, 123, 255, 40%);
    border-bottom: none;
    border-top: none;
    height: 10vh;
    width: 100%;
}

/* lines before and after the logo  */

ul {
    list-style: none;
}

nav div ul li:nth-of-type(1) {
    border: 2px solid white;
    width: 2vw;
    height: 1vw;
    margin-bottom: 0.5em;
}

nav div ul li:nth-of-type(2) {
    border: 2px solid white;
    width: 2vw;
    height: 1vw;
    margin-bottom: 0.5em;
}

nav div ul li:nth-of-type(3) {
    border: 2px solid white;
    width: 2vw;
    height: 1vw;
    margin-bottom: bottom 0.5em;
}

nav div:nth-of-type(1) {
    margin: 1em;
    border: none;
    width: 8%;
}

nav div {
    width: 20%;
    height: 10vh;
    border-left: 2px solid white;
    margin-top: 0.5em;
}

nav div h1 {
    color: white;
    font-size: 1em;
    margin: 0.2em;
}

/* === MAIN === */

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

/* ========== LEFT AND RIGHT PANELS ================ */

#left-menu,
#right-menu {
    background: linear-gradient(145deg, #234c65, #1e4055);
    box-shadow: 26px 26px 58px #16303f, -26px -26px 58px #2c5e7d;
    border-radius: 30px;
    padding: 25px 7px;
    width: 18vw;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-menu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
}

#right-menu {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6px;
}

#right-menu div {
    border-radius: 0 8px 8px 0;
    border-left: none;
}

#left-menu div {
    border-radius: 8px 0 0 8px;
}

#left-menu div,
#right-menu div {
    width: 72%;
    height: auto;
    padding: 0.5em;
    border-right: none;
    border-left: none;
    background: linear-gradient(145deg, #234c65, #1e4055);
    box-shadow: 26px 26px 58px #16303f, -26px -26px 58px #2c5e7d;
}

#left-menu div:hover,
#right-menu div:hover {
    background: #21475e;
    box-shadow: inset 26px 26px 58px #16303f, inset -26px -26px 58px #2c5e7d;
    padding: 0.5em;
    cursor: pointer;
}

#left-menu h2,
#right-menu h2 {
    color: white;
    opacity: 1;
    font-size: 1.2em;
}

/* XP : "webkit.." is to reset browser appearance */

.file {
    margin-top:1em;
    border-radius: 10px;
    transition: 2s;
}

/* Container appearance */
progress[value] {
    /* Chrome/Safari/Opera : default values are reset */
    -webkit-appearance: none;
    appearance: none;

    /* Reset the default appearance in Firefox */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    /* Get rid of default border in Firefox. */
    border: none;
    
    /* Sizing the element */
    width: 12em;
    height: 1.5em;
}

/* Pseudo class to change container appearance of the XP bar depend on browser */

/* Safari/Chrome/Opera */
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* Change the color inside the containers */

/* Opera/chrome/Safari/IE10+ */
progress[value]::-webkit-progress-value {
    background: red;
    border-radius: 2px;

    /* IE10+ change the color through color attribute */
    color:red;
}

/* Opera */
progress[value]::-moz-progress-bar {
    background-color: red;
}


/* ------------ Style for games -------------- */


/* Fixer le bouton sur le côté gauche de la page */

.open-btn {
    position: absolute;
    top: 50%;
    left: 50%;
}


/* Stylez et fixez le bouton sur la page */

.open-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
}


/* Positionnez la forme Popup */

.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}


/* Masquez la forme Popup */

.form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
}


/* Styles pour le conteneur de forme */

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}


/* Largeur complète pour les champs de saisie */

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}


/*Quand les entrées sont concentrées, faites quelque chose */

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}


/* Stylez le bouton de connexion*/

.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Stylez le bouton pour annuler */

.form-container .cancel {
    background-color: #cc0000;
}


/* Planez les effets pour les boutons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

@media screen and (max-width:1024px) {
    .viewport {
        transform: translate(-15%, 0%);
    }
}