
/* MAPS */

.maps {
    width:100%;
    height:100%;
  
    grid-column: 2;
   
    display: none;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: none;
    position: sticky;
    image-rendering: pixelated;
    /* transform: scale(1); */
}

.maps img {
    width:100%;
    height:100%;
    grid-row: 1/ span 15;
    grid-column:1/ span 15;
    overflow: visible;
    display:block;
    opacity:1;
}

/* ENTRY AND EXIT */

/* Entries */

.entry {
    background-color: red;
    opacity: 0.5;
}

#enter-map-ship {
    grid-column: 15;
    grid-row: 9;
    display:none;
}

#enter-map-crash {
    grid-column: 8;
    grid-row: 8;
    display:none;
}

#enter-map-before-final {
    grid-column: 1;
    grid-row: 9;
    display:none;
}
/* col : 7 et 8 */
#enter-map-before-camp {
    grid-column: 8;
    grid-row: 1;
    display: none;
}
/* 9 ou 10 row  - exit / enter close*/
#enter-map-camp {
    grid-column: 1;
    grid-row: 9;
    display: none;
}

#enter-map-final {
    grid-column: 8;
    grid-row: 1;
    display:none;
}

/* exits */

.exit {
    background-color: green;
    opacity: 0.5;
}
/* Problem : la porte fait 8 et 9 col- classe pour 2? */
#exit-map-ship {
    grid-column: 8;
    grid-row: 1;
    display:none;
}

/* 3 et 4 pour row - ici c vers final */
#exit-map-crash {
    grid-column: 15;
    grid-row: 4;
    display:none;
}

#exit-map-to-camp {
    grid-column: 8;
    grid-row: 15;
    display:none;
}

#exit-map-before-final {
    grid-column: 10;
    grid-row: 15;
    display:none;
}

/* 9 et 10 row */
#exit-map-before-camp {
    grid-column: 15;
    grid-row: 9;
    display: none;
}

#exit-map-camp {
    grid-column: 1;
    grid-row: 10;
    display: none;
}

#exit-map-final {
    grid-column: 15;
    grid-row: 9;
    display: none;
}

/* Objets */

.object-image {
    width:100%;
    height:auto;
}

#object-1 {
    grid-row:1;
    grid-column:1;
    display:block;
}

#object-2 {
    grid-row: 1;
    grid-column: 1;
    display:block;
}

#object-3 {
    grid-row: 1;
    grid-column: 1;
    display:block;
}


/* PNG */

.pnj-image {
    width:100%;
    height:auto;
}

#pnj-1 {
    grid-row:1;
    grid-column:1;
    display:block;
}

#pnj-2 {
    grid-row: 1;
    grid-column: 1;
    display:block;
}

#pnj-3 {
    grid-row: 1;
    grid-column: 1;
    display:block;
}


/* HERO */

.hero {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:3vh; */
}

.hero img {
    width: 60%;
    height: auto;
    position: relative;
    z-index: 99;
    overflow: hidden;
}

