body {
    /* Waiting to know if coptright is ok for this image 
    background-image: url("../ressources/static-images/menu-background.jpg");
    */
    background-image: url("../ressources/static-images/image-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(119, 68, 60, 0.6);
}

.main-menu main {
    height: 100vh;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-menu #images-menu {
    display:block;
   
}

.main-menu #logo {
    width: 94px;
    background-color: rgba(119, 68, 60, 0.6);
    opacity: 0.6;
    border-radius: 8px;
    position: absolute;
    left:5%;
    top:5%;

}

.main-menu #images-menu img:nth-of-type(2) {
    width: 20%;
    height: auto;
    position: absolute;
    left:0;
    bottom:-5%;
    
}

.main-menu .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 

}

.main-menu form {
    width: 350px;
    min-height: 150px;
    max-height: 70%;
    /* background-color: rgb(60, 101, 119, 0.6); */
    background-color: rgba(102, 58, 51, 0.6);
    /* box-shadow: inset 9px 9px 17px #3c6577, inset -9px -9px 17px #112731; */
    box-shadow: inset 9px 9px 17px #77443c99,inset -9px -9px 17px #77443c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-radius: 10px;
    
}

.main-menu h1 {
    font-size: 24px;
    grid-row:1;
    grid-column:2;
    color: rgb(250, 245, 245);
    text-align: center;
}

.main-menu p {
    font-size: 24px;
    grid-row: auto;
    grid-column:2;
    color: rgb(250, 245, 245);
    text-align: center;
}


.main-menu a {
    grid-row:2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu a:nth-last-of-type(1) {
    grid-row:3;
    grid-column: 2;
}

.main-menu a:nth-last-of-type(2) {
    grid-row: 4;
    grid-column: 2;
}

.main-menu a,
.main-menu button {
    /* background-color: rgb(60, 101, 119, 0.6); */
    background-color: #48292499;
    /* box-shadow: inset 9px 9px 17px #3c6577, inset -9px -9px 17px #40758d; */
    box-shadow: inset 9px 9px 17px #77443c99,inset -9px -9px 17px #77443c99;
    color: aliceblue; 
    height: 41px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.main-menu button:hover,
.main-menu a:hover {
    cursor: pointer;
    background-color: #b39a40;
    box-shadow: inset -9px -9px 4px #e3c24b, inset -2px -2px 28px #8a7a39;
    color: black;
    transition: ease 0.3s;
}

@media screen and (min-width:2560px) {

    .main-menu #logo {
        width:15rem;
        height: auto;
        left:7%;
    }

    .main-menu form {
        width:50rem;
        height:50rem;
    }

    .main-menu form h1 {
        font-size:4rem;
    }

    .main-menu form button, form a {
        font-size:3rem; 
        height:7rem;
        width:8em;
    }
}

@media screen and (max-width:425px) {

    .main-menu #logo {
        width: 12%;
        height: auto;
        margin:0 auto;
    
    }

    .main-menu form {
        width:100%;
        height:100%;
    }

}