#imgObject {
    width: 56px;
}

#contentInventory {
    position: absolute;
    display: inline-block;
}



.viewport {
    transform: translate(25%, 0%);
}

#left-menu,
#right-menu {
    background: #21475e;
    box-shadow: 20px 20px 60px #1c3c50, -20px -20px 60px #26526c;
    border-radius: 30px;
    padding: 25px 7px;
    width: 20vw;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-menu {
    margin-left: 17px;
}

#right-menu {
    margin-left: -17px;
}

#left-menu div,
#right-menu div {
    width: 100%;
    height: auto;
    border-right: none;
    border-left: none;
    background: #21475e;
    box-shadow: 20px 20px 60px #1c3c50, -20px -20px 60px #26526c;
}

#left-menu div:hover,
#right-menu div:hover {
    background: #6e88a0;
    box-shadow: inset 20px 20px 60px #5e7488, inset -20px -20px 60px #7f9cb8;
    padding: 0.5em;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .viewport {
        transform: translate(-15%, 0%);
    }
}